.header {
    background-color: #008184;

    h1 {
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      margin: 0 auto;
    }

    a {
        font-family: Verdana, Tahoma, sans-serif;
        color: white;
        text-decoration: white;
        margin: 0 0.75rem;
    }
}